.containerGrid{
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.allCats{
    font-size: 1.5vw;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 1fr 3.2fr 1fr 1fr;
    grid-gap: 2vw;
    grid-auto-rows: 1fr;
    align-items: center;
    padding: 2vh 1vw;
}

.Cards{
    background-color: white;
    color: rgba(0, 0, 0, 0.897);
    min-height:120px;
}

.traits{
    margin: 0px 10px;
    
}

.catDescription{
    text-align: justify;
    padding: 10px;
}

.originFlag{
    width: 30%;
    display: block;
    margin: auto;
    margin-bottom: 1vh;

}
.spacingS{
    margin-right: 25px;
}

@media(max-width:700px){
    .allCats{
        font-size: calc(3px + 1.5vw);
        width: 92%;
        padding: 0.35vh 0.35vw;
        grid-gap: 0;
    }
    .allCats h3{
        margin-bottom: 0;
        font-size: calc(6px + 1.75vw);
    }
    .originFlag{
        width:7vw;
    }
}

@media(min-width:1200px){
    .allCats{
        font-size:1.65vh;
    }
}
