.App-header{
    background-color: #333;
    color: white;
    text-align: center;
    box-sizing: content-box;
    width: 92%;
    margin: auto;
}

.App-header h1{
    margin: 0;
    padding-top:5vh;
    font-size: calc(10px + 3vh);
}

.searchContainer{
    width: 95%;
    margin: 0 3vw;
    height: 10%;
    display: flex;
    justify-content: flex-end;
}
.searchForm{
    display: inline-block;
    margin: 4vh 2.5vw 2.5vw 0;
    height: 6%;
    font-weight: 800;
    font-size: calc(7px + 1vh);
}
.searchForm p{
    margin-top: 0;
}

.searchForm form select, input{
    width: 200px;
    color: white;
    background: #333;
    border-radius: 5%;
    border: 2px rgb(94, 90, 90) groove;
    min-height: 17px;
}

#catLogo{
    max-height: 13vh;
    top: 3.5%;
    left: 10%;
    position: absolute;
}

@media(max-width:730px){
    .App-header h1{
        font-size: calc(10px + 2vh);
    }
    .searchContainer{
        display: block;
        justify-content: center;
        margin-top: 0;
    }
    .searchForm:nth-child(even){
        margin-top: 0;
        margin-bottom: 2.5vh;
    }

    #catLogo{
        position: relative;
        top: 2.5vh;
        left: none;
        margin-right: 20%;
    }
}

@media(min-width:1300px){
    .App-header h1{
        padding-top: 10vh;
        font-size: calc(10px + 2vw);
    }

    .searchContainer{
        width: 90%;
    }
    .searchForm{
        font-size: 1.7vh;
        width: 10vw;
    }
    .searchForm form input, select{
        height: 2.6vh;
        width: 100%;
        font-size: 1.7vh;
        box-shadow: 3px 3px 3px #111;
    }
    optgroup{
        font-size: calc(40px + 1.7vh);
    }
    #catLogo{
        min-height: 90px;
        top: 8%;
    }
}
