@font-face{
    font-family: 'moonfont';
    src: url(static/fonts/moon.otf)
}

.App{
    font-family: 'moonfont', Georgia, Times, serif, Cambria;
    background-color: #990ae3;
    color: white;
    padding-bottom: 5vh;
    min-height: 100vh;
}
